[Unit]
Description=Network Manager Applet
PartOf=graphical-login.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-login.target
